.topBarContainer {
  background-color: #2c517c;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.topBarLeft {
  flex: 4;
}

.logo {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

.topBarCenter {
  flex: 5;
}

.post {
  width: 80%;
  height: 20px;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post:hover {
  background-color: #cccccc;
}

.topBarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.shareOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

.shareIcon {
  margin-right: 5px;
  font-size: 24px;
}

.shareText {
  font-size: 16px;
}

.settingOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

.settingIcon {
  margin-right: 5px;
  font-size: 24px;
}

.settingText {
  font-size: 16px;
}

.loginOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

.loginIcon {
  margin-right: 5px;
  font-size: 24px;
}

.loginText {
  font-size: 16px;
}
